{% extends 'base.html' %}   
{% load static %}
{% load crispy_forms_tags %}





{% block content %}
    <!-- ===============  breadcrumb area start =============== -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="breadcrumb-wrap">
                        <h2>Tour Package Details</h2>
                        <ul class="breadcrumb-links">
                            <li>
                                <a href="{% url 'mainapp:mainapp-home' %}">Home</a>
                                <i class="bx bx-chevron-right"></i>
                            </li>
                            <li>Package Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===============  breadcrumb area end =============== -->
    <div class="package-details-wrapper pt-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="package-details">
                        <div class="package-thumb">
                            <img src="{{tour.getthumbnail.image.url}}" alt="">
                        </div>
                        <div class="package-header">
                            <div class="package-title">
                                <h3>{{tour.title}}</h3>
                                <strong><i class="flaticon-arrival"></i>
                                    {% for dest in tour.destinations.all %}
                                        {{dest.city}}
                                    {% endfor %}, {{tour.destinations.all.0.country}}
                                </strong>
                            </div>
                        </div>
                        <div class="p-short-info">
                            <div class="single-info">
                                <i class="flaticon-clock"></i>
                                <div class="info-texts">
                                    <strong>Duration</strong>
                                    <p>{{tour.durations}}r</p>
                                </div>
                            </div>
                            
                            <div class="single-info">
                                <i class="flaticon-traveller"></i>
                                <div class="info-texts">
                                    <strong>Group Size</strong>
                                    <p>{{tour.size}} People</p>
                                </div>
                            </div>
                            <div class="single-info">
                                <i class="flaticon-translate"></i>
                                <div class="info-texts">
                                    <strong>Languages</strong>
                                    <p>Any Language</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="package-tab">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                    Information</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                                    Our Gallary</button>
                                </li>
                              </ul>


                            <div class="tab-content p-tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="tab-content-1">
                                                <div class="p-overview">
                                                    <h5>Overview</h5>
                                                    <p>{{tour.description|linebreaks}}</p>
                                                </div>
                                                <div class="p-overview">
                                                    <h5>Accommodation</h5>
                                                    <p>{{tour.accommodation|linebreaks}}</p>
                                                </div>
                                                <div class="p-overview">
                                                    <h5>Transportation</h5>
                                                    <p>{{tour.transportation|linebreaks}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% include 'tour/components/tour_gallery.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="package-d-sidebar">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="p-sidebar-form">
                                    <form action="{% url 'tour-booking' %}" method="post">
                                        {% csrf_token %}
                                        <h5 class="package-d-head">Request a Tour Package</h5>
                                        {{form|crispy}}
                                        <div class="col-lg-12">
                                            <input type="submit" value="Book Now">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="p-sidebar-cards mt-40">
                                    <h5 class="package-d-head">Popular Packages</h5>
                                    <ul class="package-cards">
                                        <li class="package-card-sm">
                                            <div class="p-sm-img">
                                                <img src="{% static 'mainapp/assets/images/package/p-sm-1.png' %}" alt="">
                                            </div>
                                            <div class="package-info">
                                                <div class="package-date-sm">
                                                    <strong><i class="flaticon-calendar"></i>5 Days/6 night</strong>
                                                </div>
                                                <h3><i class="flaticon-arrival"></i>
                                                    <a href="package-details.html">Lake Garda</a>
                                                </h3>
                                                <h5><span>$180</span>/ Per Person</h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}