{% extends 'base.html' %}


{% load static %}



{% block content %}
    <!-- ===============  breadcrumb area start =============== -->
    {% if messages %}
        {% include 'components/messages.html' with messages=messages%}
    {% endif %}
    <div
        class="breadcrumb-area" 
        style="background-image: url('{% static 'mainapp/assets/images/night_bg.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="breadcrumb-wrap">
                        <h2>Tour Packages</h2>
                        <ul class="breadcrumb-links">
                            <li>
                                <a href="{% url 'mainapp:mainapp-home' %}">Home</a>
                                <i class="bx bx-chevron-right"></i>
                            </li>
                            <li>packages</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===============  breadcrumb area end =============== -->
        <!-- ===============  Package  area start =============== -->
    <div class="package-sidebar-wrapper pt-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    
                    {% if page_obj.object_list %}
                        {% include 'tour/components/pagination_tour.html' %}
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            0 result
                        </div>
                    {% endif %}
                    
                </div>
                {% comment %} right side {% endcomment %}
                <div class="col-lg-4">
                    <div class="package-sidebar">
                        <div class="row">
                            {% include 'tour/components/filter_tour.html' %}
                            {% include 'components/special_offer_sidebar.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- ===============  Package  area end =============== -->
    

{% endblock content %}