{% load static %}

<div class="achievement-area p-80 mt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-head pb-30">
                    <h5>Why Ottoman Tourism</h5>
                    <h2>Why travel with The Ottoman Tourism</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated"  data-wow-duration="1500ms" data-wow-delay="0ms" >
                <div class="achievement-card mt-30">
                    <div class="achievement-icon">
                        <i class="flaticon-guide"></i>
                    </div>
                    <h5>Guides from 5 different languages</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated"  data-wow-duration="1500ms" data-wow-delay="200ms" >
                <div class="achievement-card mt-30">
                    <div class="achievement-icon">
                        <i class="flaticon-trust"></i>
                    </div>
                    <h5>100% trusted travel agency</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated"  data-wow-duration="1500ms" data-wow-delay="400ms" >
                <div class="achievement-card mt-30">
                    <div class="achievement-icon">
                        <i class="flaticon-experience"></i>
                    </div>
                    <h5>Gurranteed customer satisfaction</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated"  data-wow-duration="1500ms" data-wow-delay="600ms" >
                <div class="achievement-card mt-30">
                    <div class="achievement-icon">
                        <img src="{% static 'mainapp/assets/images/icons/health-insurance.png' %}" style="max-height:90px"></img>
                    </div>
                    <h5>Experienced in Health Tourism</h5>
                </div>
            </div>
        </div>
    </div>
</div>