

{% load static %}

<div class="package-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-head pb-45">
                    <h5>Choose Your Package</h5>
                    <h2>Select The best Package For Your Travel</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for tour in bestpackages %}
                <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="0ms">
                    {% include 'tour/components/tour_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>






















