{% load static %}

<div class="review-area mt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-head pb-40">
                    <h5>Our Traveller Say</h5>
                    <h2>Words Of Our Customers</h2>
                </div>
            </div>
        </div>
        <div class="review-slider owl-carousel">
            <div class="review-card ">
                <div class="reviewer-info">
                    <h3>Humaira Khatun</h3>
                    <br>
                    <p>I recently went on a tour with this company and was blown away by the level of service and attention to detail. The tour guide was knowledgeable, friendly, and went above and beyond to ensure that we had a great time.</p>
                </div>
            </div>
            <div class="review-card">
                <div class="reviewer-info">
                    <h3>Jahidul Islam</h3>
                    <br>
                    <p>
                        I booked a vacation package through this company and was pleasantly surprised by the level of support and assistance I received. The team was always quick to respond to any questions or concerns I had.
                    </p>
                </div>
            </div>
            <div class="review-card">
                <div class="reviewer-info">
                    <h3>Kader Hossain</h3>
                    <br>
                    <p>
                        I had an amazing experience with this company. The team was incredibly helpful and always quick to respond to any questions I had. The tour itself was well-organized and had a great mix of activities and sightseeing.
                    </p>
                </div>
            </div>
            <div class="review-card ">
                <div class="reviewer-info">
                    <h3>Harun Molla</h3>
                    <br>
                    <p>
                        I was impressed by the variety of tour options offered by this company and the level of support provided. The staff were also incredibly helpful and made sure that our trip ran smoothly from start to finish. Great service.
                    </p>
                </div>
            </div>
        </div> 
    </div>
</div>