{% load static %}

<div 
    class="feature-area mt-120 p-80" 
    style=
    "background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(48, 79, 71, 0.3)), to(rgba(48, 79, 71, 0.4))), url({% static 'mainapp/assets/images/homepage/banner-1.png' %}) center no-repeat;
    background: linear-gradient(rgba(48, 79, 71, 0.3) 100%, rgba(48, 79, 71, 0.4) 100%), url({% static 'mainapp/assets/images/homepage/banner-1.png' %}) center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-head pb-60">
                    <h5>Ottoman Travels</h5>
                    <h2>A journey of thousand miles begins with a small step</h2>
                </div>
            </div>
        </div>
    </div>
</div>