{% load static %}
{% load thumbnail %}


<div class="destinations-area pt-105">
    <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="section-head pb-40">
                <h5>Popular Destinations</h5>
                <h2>Select Our Most Popular Destinations</h2>
            </div>
        </div>
    </div>
    {% for city,destinations in populardestinations.items %}
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="package-slider-wrap">
                {% thumbnail city.thumbnail  "270x300" crop='center' quality=100 as im  %}
                    <img src="{{im.url}}"  class="img-fluid" style="width:100%;"  alt="{{city.alttag}}">
                {% endthumbnail %}
                <div class="pakage-overlay">
                    <strong>{{city}}</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="row owl-carousel destinations-1">
                {% for tour in destinations %}
                    {% include 'tour/components/tour_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

    </div>
</div>