
{% load thumbnail %}
{%thumbnail banner.banner '1920x670' quality=85 as im%}
<div class="slider-item"
   style="
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(3,28,57,0.4) 0%), to(rgba(3,28,57,0.4) 100%))), url({{ banner.getthumbnail.image.url }});
    background: linear-gradient(90deg, rgba(3,28,57,0.4) 0%, rgba(3,28,57,0.4) 100%), url({{ im.url |resolution:"2x"}});
    background-size: cover;
    background-position: center;"
    role="img" aria-label="{{banner.alttag}}">
    <div class="container">
        <div class="slider-content wow fadeInLeft animated" data-wow-delay="50ms" data-wow-duration="50ms" >
            <h2>{{ banner.tour.title }}</h2>
                <h5>{{banner.tour.durations}}</h5>
                <div class="banner-btn">
                    <a href="{{banner.tour.get_absolute_url}}" class="btn-common">Book Now</a>
                </div>
        </div>
    </div>
</div>
{%endthumbnail%}