{% load static %}
{% load crispy_forms_tags %}
<div class="col-lg-12 col-md-6">
    <div class="p-sidebar-form">
        <form action="{% url 'tour-booking' %}" method="post">
            {% csrf_token %}
            <h5 class="package-d-head">{{title}}</h5>
            {{form|crispy}}
            {% if tour.id %}
                <input type="hidden" value="{{ tour.id }}" name="packageid">
            {% endif %}
            <div class="col-lg-12">
                <input type="submit" value="{{btn}}">
            </div>
        </form>
    </div>
</div>