{% load static %}
{% load thumbnail %}

<div class="container tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
  <div class="row text-center text-lg-start">
        {% for im in gallary %}
            {%thumbnail im.image '400x300' as img%}
            <div class="col-lg-3 col-md-4 col-6">
                <a class="g-img-sm-1 main-gallary" href="{{img.url}} ">
                    <img class="img-fluid img-thumbnail" src="{{img.url}}" alt="{{img.alttag}}">
                </a>
             </div>
            {%endthumbnail%}
        {% endfor %}
  </div>
</div>