{% load static %}
{% load thumbnail %}

<div class="blog-card">
    <a href="{{blog.get_absolute_url}}">
        <div class="blog-img">
            {%thumbnail blog.getthumbnail "370x228" quality=75  as im %}
                <img src="{{im.url}}" style="height:228px;width=370px" alt="{{blog.alttag}}" class="img-fluid">
            {%endthumbnail%}
            <div class="blog-date"><i class="flaticon-calendar"></i>{{blog.last_modified |date}}</div>
        </div>
    </a>
    <div class="blog-details">
        <div class="blog-info">
            <a class="blog-writer"><i class="flaticon-user"></i>{{blog.author.user.username}}</a>
            <a class="blog-comment">
                <img style="height:20px; width:20px;" src="{% static 'mainapp/assets/icons/view.png' %} " alt='watch-icon'><span>{{blog.view_count}}</span>
            </a>
        </div>
        <a style="font-size:15px" href="{{blog.get_absolute_url}}" class="blog-title">
            {{blog.title}}
        </a>
        <div>
            <p>{{blog.overview |truncatewords:20}}</p>
        </div>
        <div class="blog-btn">
            <a href="{{blog.get_absolute_url}}" class="btn-common-sm">Read More</a>
        </div>
    </div>
</div>