
{% load static %}
{% load thumbnail %}

<li class="blog-card-sm">
    <div class="blog-img-sm">
        {%thumbnail blog.getthumbnail '200x100' as im%}
        <img src="{{im.url}}" style="height:100px;width:135px" alt="{{blog.alttag}}">
        {%endthumbnail%}
    </div>
    <div class="blog-details-sm">
        <a href="{{blog.get_absolute_url}}" class="blog-title-sm">{{blog.title}}</a>
        <div class="blog-info">
            <a  class="blog-date"> <i class="flaticon-calendar"></i>  {{blog.last_modified |date }}</a>
        </div>
    </div>
</li>