{% extends 'base.html' %}
{% load static %}



{% block content %}
    {% block breadcrumb %}
        <div 
        class="breadcrumb-area"
        style="
        background: url('{% static 'mainapp/assets/images/banners/blogs.png' %}');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="breadcrumb-wrap">
                            <h2>Blogs</h2>
                            <ul class="breadcrumb-links">
                                <li>
                                    <a href="{% url 'mainapp:mainapp-home' %}">Home</a>
                                    <i class="bx bx-chevron-right"></i>
                                </li>
                                <li>Blogs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock breadcrumb %}

    
    <!-- ===============  Blog wrapper area start =============== -->
    <div class="blog-sidebar-wrapper mt-30">
        <div class="container">
            <div class="row">
                {% block left %}
                    {% include 'blog/components/utils/search_sidebar.html' %}
                    <div class="col-lg-8 mt-30">
                        {% if page_obj.object_list %}
                            {% include 'blog/components/utils/blog_paginator.html' %}
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                0 result
                            </div>
                        {% endif %}
                    </div>
                {% endblock left %}

                {% block right %}
                    <div class="col-lg-4">
                        <div class="blog-sidebar">
                            
                            <div class="row">
                                {% include 'blog/components/utils/category_sidebar.html' %}
                                {% include 'blog/components/utils/popularblog_sidebar.html' with title="Popular blogs" blogs=popular_blogs %}
                            </div>

                            <div class="row">
                                {% include 'blog/components/utils/tags_sidebar.html' %}
                                {% include 'components/special_offer_sidebar.html' %}
                            </div>
                        </div>
                    </div>
                {% endblock right %}
            </div>
        </div>
    </div>
    <!-- ===============  Blog wrapper area end =============== -->

{% endblock content %}
