{% extends 'blog/views/blog_home.html' %}
{% load static %}

    {% block seo %}
        {% if category is not None %}
            <title>category-{{category.title|lower}}</title>
            <meta property="og:title" content="category-{{category.title|lower}}">
        {% else %}
            <title>category ottoman tours and travels</title>
            <meta property="og:title" content="category-ottoman tours and travels">
        {% endif %}
    {% endblock seo %}

    {% block breadcrumb %}
        <div 
        class="breadcrumb-area"
        style="
        background: url('{% static 'mainapp/assets/images/banners/blogs.png' %}');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="breadcrumb-wrap">
                            <h2>Blogs</h2>
                            <ul class="breadcrumb-links">
                                <li>
                                    <a href="{% url 'mainapp:mainapp-home' %}">Home</a>
                                    <i class="bx bx-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="{% url 'blog-home' %}">Blogs</a>
                                    <i class="bx bx-chevron-right"></i>
                                </li>
                                <li>{{category.title}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock breadcrumb %}

    {% block left %}
        <div class="col-lg-8">
            {% if page_obj.object_list %}
                {% include 'blog/components/utils/blog_paginator.html' %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    0 result
                </div>
            {% endif %}
        </div>
    {% endblock left %}







