{% load static %}

 <header>
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <div class="navbar-wrap">
                        <div class="logo d-flex justify-content-between">
                            <a href="{% url 'mainapp:mainapp-home' %}" class="navbar-brand"> <img src="{% static 'mainapp/assets/images/logo.png' %}" alt=""></a>
                        </div>
                        <div class="navbar-icons">
                            <div class="mobile-menu d-flex ">
                                <a href="javascript:void(0)" class="hamburger d-block d-xl-none">
                                    <span class="h-top"></span>
                                    <span class="h-middle"></span>
                                    <span class="h-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <nav class="main-nav">
                        
                        <ul>
                            <li><a href="{% url 'mainapp:mainapp-home' %}">Home</a></li>
                            <li><a href="{% url 'mainapp:mainapp-about' %}">About us </a></li>
                            <li><a href="{% url 'tour-home' %}">Packages</a></li>
                            <li><a href="{% url 'blog-home' %}">Blogs</a></li>
                            <li><a href="{% url 'mainapp:mainapp-contact' %}">Contact Us </a></li>
                        </ul>
                        <div class="sidebar-contact">
                            <ul>
                                <li class="sidebar-single-contact"><i class='bx bxs-phone'></i> <a href="tel:+17632275032">+1 763-227-5032</a></li>
                                <li class="sidebar-single-contact"><i class='bx bxs-envelope'></i><a href="mailto:info@example.com">info@example.com</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>