<div class="row mb-30">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="package-filter">
            <h5>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h5>
        </div>
    </div>
</div>

<div class="row">
    {% for blog in page_obj.object_list %}
        <div class="col-lg-6 col-md-6 col-sm-6">
            {% include 'blog/components/utils/blog_card.html' %}
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-lg-12">
        {% if page_obj.has_other_pages %}
            <div class="pagination mt-30">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"> <i class="bx bx-chevron-left"></i></a>
                {% else %}
                    <a> <i class="bx bx-chevron-left"></i></a>
                {% endif %}
                
                
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <a class="active">{{ i }} </a>
                    {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="bx bx-chevron-right"></i></a>
                {% else %}
                    <a ><i class="bx bx-chevron-right"></i></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>