{% extends 'base.html' %}


{% block content %}
    <!-- ===============  Main banner area start =============== -->
    <div class="main-banner">
        <div class="banner-slider owl-carousel">
            {% for banner  in banners %}
                {% include 'mainapp/components/mainapp_home/tour_banner.html' with banner=banner %}
            {% endfor %}
        </div>
    </div>
    <!-- ===============  Main banner area end =============== -->

    <!-- ===============  findfrom area start ============= -->
    {% comment %} <div class="find-form">
        <div class="container">
            <form class="findfrom-wrapper">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-3">
                        <input type="text" name="whereto" placeholder="Where To...">
                    </div>
                    <div class="col-lg-3">
                        <div class="find-btn">
                            <a href="#" class="btn-second"><i class='bx bx-search-alt'></i> Find now</a>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </div> {% endcomment %}
    <!-- ===============  findfrom area end =============== -->

     <!-- =============== Best Package  area start =============== -->
        {% include 'mainapp/components/mainapp_home/best_packages.html' %}
     <!-- ===============  Package  area end =============== -->

     <!-- =============== Destinations area start =============== -->
        {% include 'mainapp/components/mainapp_home/popular_city_pacakages.html' %}
     <!-- =============== Destinations area end =============== -->
     
    <!-- =============== achievement area start =============== -->
        {% include 'mainapp/components/mainapp_home/achivements.html' %}
    <!-- =============== achievement area end =============== -->
    <!-- ===============  Blog area start =============== -->
        {% include 'mainapp/components/mainapp_home/bloghighlight.html' %}
    <!-- ===============  Blog area end =============== -->
        
    <!-- =============== Review area start =============== -->
        {% include 'mainapp/components/mainapp_home/customer_review.html' %}
    <!-- =============== Review area end =============== -->

    <!-- ===============  Feature area start =============== -->
        {% include 'mainapp/components/mainapp_home/featured_packages.html' %}
    <!-- ===============  Feature area end =============== -->


    <!-- ===============  Newsletter area start =============== -->
        {% include 'mainapp/components/mainapp_home/newsletter.html' %}
    <!-- ===============  Newsletter area end =============== -->

{% endblock content %}