{% extends 'base.html' %}
{% load static %}


{% block seo %}
    {% include 'components/seo.html' with title="home-ottoman tours and travels" %}
{% endblock seo %}



{% comment %} {% block cssfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'mainapp/assets/images/favicon.png' %}">
<link rel="stylesheet" href="{% static 'mainapp/assets/css/home/home_bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/assets/css/home/home_box.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/assets/font/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/assets/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/assets/css/home/home_style.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/assets/css/home/home_responsive.css' %}">
{% endblock cssfiles %} {% endcomment %}

{% block content %}

    <h2>{{name}}</h2>
    {% comment %} {% if messages %}
        {% include 'components/messages.html' with messages=messages %}
    {% endif %}
    <div class="main-banner">
        <div class="banner-slider owl-carousel">
            {% for banner  in banners %}
                {% include 'mainapp/components/mainapp_home/tour_banner.html' with banner=banner %}
            {% endfor %}
        </div>
    </div>
    {% include 'mainapp/components/mainapp_home/best_packages.html' %}
    {% include 'mainapp/components/mainapp_home/popular_city_pacakages.html' %}
    {% include 'mainapp/components/mainapp_home/achivements.html' %}
    {% include 'mainapp/components/mainapp_home/bloghighlight.html' with blogs=blogs %}
    {% include 'mainapp/components/mainapp_home/customer_review.html' %}
    {% include 'mainapp/components/mainapp_home/featured_packages.html' %}
    {% include 'mainapp/components/mainapp_home/newsletter.html' %} {% endcomment %}

{% endblock content %}

{% comment %} {% block scripts %}
    <script src="{% static 'mainapp/assets/js/jquery-3.6.0.min.js' %}" defer></script>
    <script src="{% static 'mainapp/assets/js/owl.carousel.min.js' %}" defer></script>
    <script src="{% static 'mainapp/assets/js/bootstrap.min.js' %}" defer></script>
    <script src="{% static 'mainapp/assets/js/jquery-ui.min.js' %}" defer></script>
    <script src="{% static 'mainapp/assets/js/popper.min.js' %}" defer></script>
    <script src="{% static 'mainapp/assets/js/jquery.magnific-popup.min.js' %}" defer></script>
    <script src="{% static 'mainapp/assets/js/wow.min.js' %}" defer></script>
    <script src="{% static 'mainapp/assets/js/typed.js' %}" defer></script> 
    <script src="{% static 'mainapp/assets/js/main.js' %}" defer></script>
{% endblock scripts %} {% endcomment %}