{% load static %}

<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class="tab-contant-3">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="package-grid-one">
                    <div class="single-grid">
                        <a class="g-img-sm-1 main-gallary" href="{% static 'mainapp/assets/images/gallary/gl-1.png' %}">
                            <img src="{% static 'mainapp/assets/images/gallary/gl-1.png' %}" alt="">
                        </a>
                        <a class="g-img-sm-2 main-gallary" href="assets/images/gallary/gl-2.png">
                            <img src="{% static 'mainapp/assets/images/gallary/gl-2.png' %}" alt="">
                        </a>
                        <a class="g-img-md main-gallary" href="assets/images/gallary/g-xxl-1.png">
                            <img src="{% static 'mainapp/assets/images/gallary/g-xxl-1.png' %}" alt="">
                        </a>
                    </div>
                    <div class="single-grid mt-24">
                        <a class="g-img-sm-1 main-gallary" href="assets/images/gallary/gl-2.png">
                            <img src="{% static 'mainapp/assets/images/gallary/gl-2.png' %}" alt="">
                        </a>
                        <a class="g-img-sm-2 main-gallary" href="assets/images/gallary/gl-4.png">
                            <img src="{% static 'mainapp/assets/images/gallary/gl-4.png' %}" alt="">
                        </a>
                        <a class="g-img-md main-gallary" href="assets/images/gallary/g-xxl-2.png">
                            <img src="{% static 'mainapp/assets/images/gallary/g-xxl-2.png' %}" alt="">
                        </a>
                    </div>
                    <div class="single-grid mt-24">
                        <a class="g-img-sm-1 main-gallary" href="assets/images/gallary/gl-5.png">
                            <img src="{% static 'mainapp/assets/images/gallary/gl-5.png' %}" alt="">
                        </a>
                        <a class="g-img-sm-2 main-gallary" href="assets/images/gallary/gl-6.png">
                            <img src="{% static 'mainapp/assets/images/gallary/gl-6.png' %}" alt="">
                        </a>
                        <a class="g-img-md main-gallary" href="assets/images/gallary/g-xxl-3.png">
                            <img src="{% static 'mainapp/assets/images/gallary/g-xxl-3.png' %}" alt="">
                        </a>
                    </div>
                    <div class="single-grid mt-24">
                        <a class="g-img-sm-1 main-gallary" href="assets/images/gallary/gl-17.png">
                            <img src="{% static 'mainapp/assets/images/gallary/gl-17.png' %}" alt="">
                        </a>
                        <a class="g-img-sm-2 main-gallary" href="assets/images/gallary/gl-16.png">
                            <img src="{% static 'mainapp/assets/images/gallary/gl-16.png' %}" alt="">
                        </a>
                        <a class="g-img-md main-gallary" href="assets/images/gallary/g-xxl-4.png">
                            <img src="{% static 'mainapp/assets/images/gallary/g-xxl-4.png' %}" alt="">
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="package-grid-two">
                    <div class="single-grid-2">
                        <a class="main-gallary" href="assets/images/gallary/g-xl-1.png">
                            <img src="{% static 'mainapp/assets/images/gallary/g-xl-1.png' %}" alt="">
                        </a>
                    </div>
                    <div class="single-grid-2 mt-24">
                        <a class="single-grid-2 main-gallary mt-30" href="assets/images/gallary/g-xl-1.png">
                            <img src="{% static 'mainapp/assets/images/gallary/g-xl-2.png' %}" alt="">
                        </a>
                    </div>
                    <div class="single-grid-2 mt-24">
                        <a class="main-gallary mt-30" href="assets/images/gallary/g-xl-1.png">
                            <img src="{% static 'mainapp/assets/images/gallary/g-xl-3.png' %}" alt="">
                        </a>
                    </div>
                    <div class="single-grid-2 mt-24">
                        <a class="main-gallary mt-30" href="assets/images/gallary/g-xl-1.png">
                            <img src="{% static 'mainapp/assets/images/gallary/g-xl-4.png' %}" alt="">
                        </a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>