{% load static %}

<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="footer-info">
                    <div class="footer-logo">
                        <a href="{% url 'mainapp:mainapp-home' %}" class="navbar-brand"> 
                            <img height="100px" src="{% static 'mainapp/assets/images/logos/ott_200.png' %}" 
                        alt="logo"></a>
                    </div>
                    <p>Ottoman Tours and Travels, a reputed international tourist agency. We provide a one-stop tourism solution. Ottoman Tourism is your reliable guide for discovering the beauty of the world. Come to us and explore new adventures.</p>
                    <div class="footer-social-icons">
                        <h5>Follow Us:</h5>
                        <ul>
                            <li><a target="_blank" href="{{contact.facebook}}"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="{{contact.instagram}}"><i class='bx bxl-instagram'></i></a></li>
                            <li><a target="_blank" href="{{contact.twitter}}"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="{{contact.youtube}}"><i class='bx bxl-youtube'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-7">
                        <div class="footer-links">
                            <h5 class="widget-title">Contact us</h5>
                            
                            <div class="contact-box">
                                <span><i class="bx bx-phone"></i></span>
                                <div>
                                    <a href="tel:{{contact.phone}}">{{contact.phone}}</a>
                                </div>
                            </div>
                            <div class="contact-box">
                                <span><i class="bx bx-mail-send"></i></span>
                                <div>
                                    <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                                </div>
                            </div>
                            <div class="contact-box">
                                <span><i class="bx bx-location-plus"></i></span>
                                <div>
                                    <a href="#">{{contact.address}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-5">
                        <div class="footer-links">
                            <h5 class="widget-title">support</h5>
                            <div class="category-list">
                                <ul>
                                    <li><a href="{% url 'mainapp:mainapp-contact' %}">Contact us</a></li>
                                    <li><a href="{% url 'mainapp:mainapp-about' %}">About us</a></li>
                                    <li><a href="{% url 'tour-home' %}">Tours</a></li>
                                    <li><a href="{% url 'blog-home' %}">Blogs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <div class="copyrigth-area">
                <p>Copyright 2022 <a target="_blank" href="https://ottomangrp.com">Ottoman Group</a></p>
            </div>
            </div>
        </div>
        
    </div>
</div>