{% comment %} {% load static %}

<div class="col-lg-12 col-md-6">
    <div class="sidebar-banner mt-40">
        <img src="{% static 'mainapp/assets/images/sidebar-banner.png' %}" alt="" class="img-fluid">
        <div class="sidebar-banner-overlay">
            <div class="sidebar-content">
                <h3>Get 50% Off 
                    In Dubai Tour</h3>
                <div class="sidebar-banner-btn">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}