

{% load static %}

<div class="topbar-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 tob-contact-row">
                <div class="topbar-contact">
                    <ul>
                        <li><i class='bx bxs-phone'></i><a href="tel:{{contact.phone}}">{{contact.phone}}</a></li>
                        <li><i class='bx bxs-envelope'></i><a href="mailto:{{contact.email}}">{{contact.email}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-6">
                <div class="topbar-social">
                    <ul>
                        <li>
                            <a target="_blank" href="{{contact.instagram}}"><i class='bx bxl-instagram'></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="{{contact.facebook}}"><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="{{contact.twitter}}"><i class='bx bxl-twitter'></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="{{contact.youtube}}"><i class='bx bxl-youtube'></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="{{contact.whatsapp}}"><i class='bx bxl-whatsapp'></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>